# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference

version: 2.1
executors:
  my-custom-executor:
    docker:
      - image: cimg/base:stable
jobs:
  web3-defi-game-project-:

    executor: my-custom-executor
    steps:
      - checkout
      - run: |
          # echo Hello, World!

workflows:
  my-custom-workflow:
    jobs:
      - web3-defi-game-project-
      
  jobs:
    my-job:
     steps:
      - run: echo "Hello, world!"
      - run:
          command: echo "This step will automatically rerun up to 3 times if it fails with a 10 second delay between attempts"
          max_auto_reruns: 3
          auto_rerun_delay: 10s
          
  workflows:
    dev_stage_pre-prod:
      jobs:
       - test_dev:
          filters:  # using regex filters requires the entire branch to match
            branches:
              only:  # only branches matching the below regex filters will run
                - dev
                - /user-.*/
       - test_stage:
          filters:
            branches:
              only: stage
       - test_pre-prod:
          filters:
            branches:
              only: /pre-prod(?:-.+)?$/


    build-test-deploy:
      jobs:
        - build:
            filters:  # required since `test` has tag filters AND requires `build`
              tags:
                only: /^config-test.*/
        - test:
            requires:
            - build
            filters:  # required since `deploy` has tag filters AND requires `test`
            tags:
              only: /^config-test.*/
        - deploy:
          requires:
            - test
          filters:
            tags:
              only: /^config-test.*/
            branches:
              ignore: /.*/
